@model IEnumerable<UcareApp.Core.Place.Models.Place>

@{
    ViewData["Title"] = "Places";
}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
<style>
    .map {
        height: 200px;
        width: 100%;
    }
</style>
<div>
    <a asp-route="CreatePlace" class="nav-link text-dark border border-info rounded shadow px-2"
        style="width: fit-content; padding: 0px; font-size: 20px;">Add new Place</a>
</div>

<div class="d-flex flex-wrap" style="max-width: 1400px;">
    @foreach (var place in Model)
    {
        <div class="card mb-4 mr-4" style="width: 18rem;">
            <div class="card-body">
                <a asp-route="Get" asp-route-id=@place.Id class="card-title">@place.Name</a>
                <p class="card-text">Adress: <input type="text" value="@place.Adress" readonly></p>
                <a href="https://www.google.com/maps?ll=@place.Latitude,@place.Longitude">Open map</a>
                <a asp-route="UpdatePlace" asp-route-id='@place.Id'
                    class="nav-link text-dark border border-info rounded shadow px-2"
                    style="width: fit-content; padding: 0px; font-size: 20px;">Update Place</a>
            </div>
            <div id="map-@place.Id" class="map mt-3"></div>
        </div>
    }
</div>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha512-jEl+t0tn7B4U1RXhFf0CRnAiylJtZnQk0s4f2a1v4zx/sXJ0J+TrQSA1ffNoP1E6UBYqqvWH+TEBqJgC/NmEkg==" crossorigin=""></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        @foreach (var place in Model)
        {
            var mapId = $"map-{place.Id}";
            var latitude = place.Latitude;
            var longitude = place.Longitude;
            var name = place.Name.Replace("'", "\\'"); 
            var address = place.Adress.Replace("'", "\\'");  
            <text>
            // Инициализация карты для каждого места
            var map = L.map('@mapId').setView([@latitude, @longitude], 13);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
            L.marker([@latitude, @longitude]).addTo(map)
                .bindPopup('@name<br>@address')
                .openPopup();
            </text>
        }
    });
</script>